/* Ensure the dropdowns are hidden by default */
.nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
  }
  
  /* Show the dropdown when hovering */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Optionally, add a transition for smooth hover effect */
  .nav-item.dropdown .dropdown-menu {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
  }
  

  
  @media screen and (max-width: 768px) {
    .responsive-div {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      height: auto;
    }

    .left-section,
    .center-section,
    .right-section {
      width: 100%;
      margin-bottom: 20px;
    }

    .center-section {
      text-align: center;
    }

    .right-section {
      align-items: center;
      text-align: center;
    }
  }



  @media (max-width: 768px) {
    .content-container {
      position: static;
      padding: 10px;
      text-align: center;
    }

    .carousel-caption {
      padding: 0 !important;
    }
  }

  